<div data-role="page"> 
	<div data-role="header">
		<h1>Frostlog</h1>
		<a href="{{ path('settings') }}" data-icon="gear" class="ui-btn-right">Einst.</a>
	</div>
	<div data-role="content">
	</div>
</div> 
