<div data-role="page"> 
	<div data-role="header">
		<a href="{{ path('settings') }}" data-icon="arrow-l" data-direction="reverse">Einstellungen</a>
		<h1>Benutzer</h1>
		<a href="#" data-icon="plus" class="ui-btn-right">anlegen</a>
	</div>
	<div data-role="content">
		<ul data-role="listview">
			<li><a href="#">mawi</a></li>
		</ul>
	</div>
</div> 